@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

#roiForm {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
    width: 300px;
}

label {
    color: #005b82; /* Expert blue for a touch of NRC's secondary colors */
    font-weight: 700;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Ensures padding doesn't affect overall width */
}

button {
    background-color: #FD5A00; /* NRC Orange */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif; /* Roboto Condensed for buttons */
}

button:hover {
    background-color: #E04E00; /* A slightly darker shade for hover effect */
}

#result {
    color: #CE5C43; /* Crisis red for the results to stand out */
    margin-top: 10px;
    font-family: 'Noto Serif', serif; /* Noto Serif for the results */
}

/* You might want to add additional styling for headers, paragraphs, etc. */
